---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import postPreview from '@/assets/post-preview.png';
const posts = await import('@/data/data.json');
---

<section class='container py-20 md:py-30'>
	<span class='section-caption'>LATEST MESSAGES</span>
	<h2 class='section-title mb-6 max-w-2xl'>AROUND THE <span class='text-gray-3'>CMI Movement</span></h2>
	<p class='max-w-[590px] text-md md:text-base mb-16 md:mb-20'>Learn about the transformative impact of our collective efforts in spreading the good news across Eastern Europe.</p>
	<div class='embla'>
		<div class='embla__viewport'>
			<div class='embla__container mb-10'>
				{
					posts.default.slice(0, 5).map(item => (
						<a href={`/blog/${item.slug}`} class='embla__slide !flex-[0_0_300px] md:!flex-[0_0_590px] group'>
							<div class='overflow-hidden h-[200px] md:h-[320px] mb-8'>
								{item.featuredImage ? (
									<Image src={item.featuredImage.node.mediaItemUrl} width={590} height={320} alt='slide image' quality={90} class='transition-transform object-cover size-full group-hover:scale-105' />
								) : (
									<Image src={postPreview} alt='slide image' quality={90} class='transition-transform object-cover size-full group-hover:scale-105' />
								)}
							</div>
							<span class='uppercase text-xs font-bold mb-4 block'>{item.posts.location}</span>
							<h2 class='text-md md:text-base mb-1.5'>{item.title}</h2>
							<span class='text-sm font-medium'>Jim Puhr</span>
						</a>
					))
				}
			</div>
			<div class='embla__controls'>
				<div class='embla__buttons justify-end w-full'>
					<button class='embla__button embla__button--prev' type='button' aria-label='prev button'>
						<Icon name='arrow-long' class='size-6 md:size-8 rotate-180 embla__button-svg' />
					</button>
					<button class='embla__button embla__button--next' type='button' aria-label='next button'>
						<Icon name='arrow-long' class='size-6 md:size-8 embla__button-svg' />
					</button>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	import '@/components/ui/embla/index';
</script>

<style>
	.embla__viewport {
		overflow: visible;
	}
	.embla__slide {
		min-width: 0;
	}
</style>
