---
import { Button } from '../ui/button';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
interface Props {
	image: string;
	description: string;
	title: string;
	slug?: string;
	city: string;
	index: number;
}
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif}');
const { city, title, description, image, slug, index } = Astro.props;
---

<li class={`bg-gray-5 ${index === 0 && 'md:col-span-2'}`}>
	<a href={`/countries/country/`} class={`flex ${index === 0 ? 'flex-col lg:flex-row' : 'flex-col'}`}>
		<div class={`${index === 0 ? ' h-[240px] sm:h-[320px] lg:h-auto' : 'h-[240px] lg:h-[320px]'} overflow-hidden`}>
			<Image src={images[image]()} quality={100} alt='image' alt={title} class='object-cover size-full hover:scale-105 transition-transform' />
		</div>
		<div class={`p-6 lg:p-10 ${index === 0 && 'lg:max-w-[600px]'}`}>
			<h2 class='uppercase text-[32px] leading-[38px] mb-4'>{title}</h2>
			<span class='text-md sm:text-[22px] uppercase block mb-6 line-clamp-1'>{city}</span>
			<p class={`overflow-ellipsis  text-md mb-8 ${index === 0 ? 'line-clamp-4' : 'line-clamp-3'}`}>{description}</p>
			<Button variant='outlineDark' className='text-gray-3 border-gray-3' size='sm'>Read more</Button>
		</div>
	</a>
</li>
