---
import { Button } from '../ui/button';
import { Image } from 'astro:assets';
interface Props {
	image: string;
	description: string;
	title: string;
	slug: string;
}
const { title, description, image, slug } = Astro.props;
---

<li>
	<a href={`/blog/${slug}/`}>
		<div class='h-[210px] overflow-hidden mb-8'>
			<Image src={image} width={370} height={210} quality={90} alt={title} class='object-cover object-center size-full hover:scale-105 transition-transform' />
		</div>
		<h2 class='uppercase text-[22px] leading-[26px] mb-6'>{title}</h2>
		<div class='overflow-ellipsis line-clamp-2 text-md mb-6'><Fragment set:html={description} /></div>
		<Button link={`/blog/${slug}/`} variant='outlineDark' className='text-gray-3 border-gray-3' size='sm'>Read more</Button>
	</a>
</li>
