---
import Footer from '@/components/common/Footer.astro'
import Head from '@/components/common/Head.astro'
import Header from '@/components/common/Header'
import '@/styles/globals.css'
const { title, description } = Astro.props;
const countries = await import('@/data/countries.json');
const generalsData = await import('@/data/generals.json');
const currentPath = Astro.url.pathname;
const upComingYear = generalsData.default.upcomingYear;
---

<!doctype html>
<html lang='en' class='scroll-smooth antialiased'>
	<Head title={title} description={description} />
	<body class='font-sans text-md md:text-base text-gray-3'>
		<Header client:load currentPath={currentPath} countries={countries} year={upComingYear} />
		<main class='flex-auto pt-[82px] md:pt-25 overflow-x-hidden'><slot /></main>
		<Footer />
	</body>
</html>
